.btn {
  display: block;
  border: none;
  height: 50px;
  padding: 10px;
  color: black;
  border-color: lightslategray;
  box-sizing: border-box;
  cursor: pointer;
  text-transform: capitalize;
}

.btn:hover {
  background-color: grey;
  color: white;
}

.btn-success {
  width: 100%;
  margin-top: 30px;
  background-color: #00b241;
  color: white;
}

.btn-success:hover {
  background-color: darkgreen;
  color: white;
}

.btn-primary {
  width: 100%;
  background-color: lightskyblue;
  color: white;
  display: inline;
  float: right;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0069d9;
  color: white;
}

.submitButton {
}
